- add_to_breadcrumbs _("Milestones"), group_milestones_path(@group)
- breadcrumb_title _("New")
- page_title _("Milestones"), @milestone.name, _("Milestones")

%h1.page-title
  = _("New Milestone")

%hr

= render "form"
